{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}
<article class="blog-post">
    <h1 class="display-5 link-body-emphasis mb-1">Как проходит курс?</h1>
    <p>После выбора любого из трех вариантов прохождения курса Вам будет открыт доступ к:
        <br>
       - комплексу диагностических материалов с ответами. 
       <br>
       - просмотру 9 видеовстреч.
       <br>
    </p>
    <p>9 видео = 9 возможностей узнать себя и других через знакомство с восемью врожденными типами характера, связанными с особенной чувствительностью одного из восьми анализаторов (эрогенных зон), которые в свою очередь определяют и тип телосложения, и особенности здоровья, и предпочтения в еде и сексе и отношение к деньгам и браку. Одним словом – человека. Доступ к видео предоставляется сроком на 1 год. </p>
    <p>Каждый вектор будет раскрыт по следующим направлениям:
      <br>
       - Телосложение и внешний вид
       <br>
       - Роль в первобытной стае
       <br>
       - Ключевые слова в речи
       <br>
       - Предпочитаемая еда, стиль одежды, цвета,спорт,
       <br>
       - Профессии и таланты
       <br>
       - Здоровье
       <br>
       - Проявление в стрессе
       <br>
       - Личностные ценности
       <br>
       - Отношение к браку, семье, сексу, изменам
       <br>
       - Родители
       <br>
       - Дети. Особенности проявления вектора в детском возрасте и рекомендации по воспитанию.
       <br>
       - Яркие представители.
       <br>
        </p>
    <h4>Первое видео</h4>
    <p>Введение в систему. Понимание того, что человек выжил в стае и что для этого нужно 8 (восемь) ролей: вождь, шут, шаман, учитель, бухгалтер, воин, дневной и ночной охранники стаи с соответствующими особенностями тела: воину нужна сила, охраннику хорошее зрение и слух, шаману особое обоняние, а бухгалтеру умение и желание считать. Эти врожденные особенности, связанны с повышенной чувствительностью одного из восьми анализаторов на теле, которые и называются ВЕКТОР. Кожный вектор. Люди с особой чувствительностью кожи. Из себя знающие, что такое «граница» и «ограничения». Быстрые, верткие, четкие. С девизом «хочешь жить – умей вертеться» и любимым словом «нет» и «нельзя». Поджарые. Губы ниточкой. Любители погрозить пальцем. Великолепные танцоры, экономисты и законники. Но если вектор не развит, то становятся воришками или скрягами, которые поедут на другой конец города, потому что яйца там будут стоить на 10 копеек дешевле.
    </p>
    <h4>Второе видео</h4>
    <p>Анальный вектор. Люди, знающие из себя, что такое чистота и порядок, потому что нуждаются в этом физиологически. А значит знают, что такое порядочность. Люди прошлого. Хранители истории, тяжело идущие на перемены. Медленные, обстоятельные, оберегающие традиции. Учителя, историки, врачи. Но, если вектор не развит, то будут жестокими садистами, везде видящими грязь и дерьмо.</p>
    <h4>Третье видео</h4>
    <p>Мышечный вектор. Люди, получающие удовольствие от напряжения мышц и тяжелого физического труда. Работающие на земле. Играющие мышцами. Ценящие «наше молоко», «нашу страну». А во время войны становящиеся воинами. Спокойно воспринимающие смерть. Самые миролюбивые убийцы.</p>
    <h4>Четвертое видео</h4>
    <p>Уретральный вектор. Вождь. Получающий удовольствие от отдачи наружу всего: мочи, семени, всего себя. Так и получается – человек для других. «Жизнь – копейка», «живем один раз». Всегда новое, всегда через «флажки», всегда для других. Рубашка нараспашку даже в мороз, походка моряка, руки в карманы и вечная блуждающая улыбка на лице. Понятно, что любви в жизни такого человека много. Как и детей.
    </p>
    <h4>Пятое видео</h4>
    <p>Зрительный вектор. Человек с распахнутыми от страха или восторга глазами. Лучезарными глазами, потому что слезы стоят всегда очень близко, готовые пролиться в любой момент по любому поводу, потому что слезы – это оргазм зрительного вектора. «Ой, как красиво!», «Фу, как ужасно» - любимые слова этого вектора. И да – именно здесь живут самые сострадательные медсестры, милые актрисы или вечно дрожащие жертвы.</p>
    <h4>Шестое видео</h4>
    <p>Звуковой вектор. Те, кто живет по ночам, слушая тишину, в интернете, вечно задаваясь вопросом – «зачем мы живем?», «что будет после смерти?». А днем спит или закрывает свои чувствительные уши длинными волосами. Потенциальные ученые или вечные депрессанты. Зависит от того – будет ли найден смысл жизни.</p>
    <h4>Седьмое видео</h4>
    <p>Оральный вектор. Во рту всегда что-то должно болтаться и раздражать эрогенную зону: либо еда, либо сигарета, либо болтающий о чем угодно язык. Большие чувственные губы. Анекдоты, сплетни или мат – синонимы орального вектора. А вот какую роль он будет выполнять в современной стае: паникёра, глашатого или шута, имеющего право говорить правду вождю - будет зависеть от развития вектора.</p>
    <h4>Восьмое видео</h4>
    <p>Обонятельный вектор. Шаман, живущий в некотором отдалении от стаи (на горке), что бы не чувствовать ту вонь, которую перманентно источает человеческая стая. И которая с его чувствительным носом непереносима. Зато этот же нос чувствует и начало болезни и приближение врага. А в современном мире - не полетит на самолете, который разобъется, не пойдет на работу в компанию, которая развалиться и его невозможно будет обмануть. Потому что ложь он на дух не переносит. Зато сам манипулирует правдой и ложью, как дышит. Не отличишь. Неприятный, но очень важный для всей стаи тип.
    </p>
    <h4>Девятое видео</h4>
    <p>Совмещение разных векторов в одном человеке. «Комплекс жертвы», «Комплекс ночной бабочки», «100% суицид», «Маменькин сынок», « Комплекс вдовы» и т.д</p>

    <h4><a name="standart"></a>Если Вы выбираете варианты “стандартный” или расширенный”,</h4> <p>то помимо видеозаписи курса и материалов, Вы сможет встретиться с ведущей курса Екатериной Дикерман на индивидуальную онлайн консультацию по определению Вашего векторного состава. Вместе с Екатериной Вы сможете составить и  проанализировать “векторную карту своей жизни” на которой будет видно в какой период жизни произошли те или иные векторные усиления или сбои (например, в 15 лет умер хомяк и у человека упало зрение – зрительный вектор). Помимо более точного понимания своего векторного состава Вы сможете получить рекомендации по проработке обнаруженных “векторных узлов”, наполнению ненаполненного  и реализации нереализованного. Но главное, что будет составлен индивидуальный план по расширению потенциалов и талантов Вашей системы, благодаря которому можно будет скорректировать свой жизненный путь с точки зрения профессии, мужеско-женских отношений и реализации Вашей системы в целом. 
Встреча длится 1,5 часа и проходит в удобном для вас мессенджере (скайп, зум, телеграм) в заранее согласованное время.</p>

    <h4><a name="full">В варианте “расширенный”,</h4> <p>помимо видеокурса с материалами и индивидуальной консультации по уточнению Вашего векторного состава Вы получите доступ к дополнительному видео на тему: “Алгоритм выбора идеального партнера на основе векторной системы” и вторую личную консультацию для опыта применения этого алгоритма для Вашей истории. В расширенном варианте Вам будет предоставлено для прохождения два дополнительных теста. 
Встреча длится от 1,5 до 2 часов и проходит в удобном для вас мессенджере (скайп, зум, телеграм) в заранее согласованное время.</p>


{% endblock %}