{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    {{ title }} | {{ 'Обо мне ' }}
{% endblock %}

{% block content %}
<article class="blog-post">
    <h2>Обо мне</h2>

    <p>Обо мне, как о ведущей :

        Екатерина Дикерман - когнитивный коуч, два высших психологических образования (Высшая Школа Психологии при РАН и МПГУ), более 15 лет практики групповой и индивидуальной работы, более 10 лет участие в лаборатории «Сознание. Время» при Институте Интегрального Внимания.
        
        Экспертность в заявленной теме: обучение у В. Толкачева в 2011 году (Санкт-Петербург) и прохождения двух ступеней у ученика Толкачева - Юрия Бурлана (2010 год). Применение дискурса своей практике более 12 лет.</p>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://ic.pics.livejournal.com/vse_horosho/2981827/759480/759480_600.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
{% endblock %}