{% load django_bootstrap5 %}

{% block content %}
<header class="blog-header py-3">
  <nav class="navbar navbar-expand-md bg-light sticky-top border-bottom" data-bs-theme="light">
    <div class="container">
      <a class="navbar-brand d-md-none" href="#">
        <svg class="bi" width="24" height="24"><use xlink:href="#aperture"/></svg>
        ВекторА
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">ВекторА</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 justify-content-between">
            <li class="nav-item"><a class="nav-link" href="{% url 'vektors' %}">ВекторА</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vektors_about' %}">О системе</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'course_about' %}">О курсе</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Обо мне</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'feedback_posts' %}">Отзывы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'posts' %}">Кейсы</a></li>
            {% if user.is_authenticated %}
            {% if perms.lessons.view_lesson %}
            <li class="nav-item"><a class="nav-link" href="{% url 'course' %}">Мой курс</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'buy' %}">Купить курс</a></li>
            {% endif %}
            <li class="btn btn-link rounded-pill px-3"><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'buy' %}">Купить курс</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
            {% endif %}
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}