{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h3>Порядкок предоставления услуг:</h3>
<p>Доступ к материалам Онлайн-курса предоставляется только после оплаты и может быть ограничен периодом, указанном в описании тарифа. 
    <br>
    Видео встречи проводятся в записи, личный консультации онлайн.
</p>
<h3>Отказ от услуги и возврат денежных средств:</h3>
<p>Если Пользователь оплатил курс, но принял решение отказаться, он обязан уведомить об этом Администратора, направив ему письмо по e-mail.
    <br>
    Возвраты денежных средств перечисляются за вычетом комиссий платежных систем, посредством которых Пользователь оплачивал услуги, а также за вычетом фактических расходов, которые возникли у Сервиса для предоставления доступа к курсу.
    <br>
    В случае, если Пользователь приступил к прохождению курса, то Сервис помимо комиссии платежной системы и фактических расходов, удерживает стоимость услуг, фактически оказанных на дату отказа.
    <br>
    Возврат денежных способов производится тем же способом, что и их оплата.
</p>
{% endblock %}