celerybeat-schedule
.dbsqlite
/upload
/__pycache__
.venv/
vektors/__pycache__/
vektors/mediafiles/
vektors/staticfiles/
vektors/.env
dist/
__pycache__
.pytest_cache/
.coverage
coverage.xml
*.sqlite3
vektors/db.sqlite3
/myenv
vektors/users/__pycache__/
vektors/posts/__pycache__/
vektors/feedback/__pycache__/
vektors/lessons/__pycache__/