{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}
    <h1 class="my-4">Восстановить пароль</h1>

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    {% comment %} <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Новый пароль:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Подтвердите пароль:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Сохранить">
        </fieldset>
        </form> {% endcomment %}
{% endblock %}