{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}


{% block content %}
{% if validlink %}

<h3>Пожалуйста, введите новый пароль</h3>
<form method="post" class="form">
{% bootstrap_form form %}
{% csrf_token %}
<button type="submit" class="btn btn-primary">Сохранить</button>

{% else %}

<p>Ссылка недействительна. Возможно, вы используете ее повторно. Пожалуйста, <a href="{% url 'password_reset' %}">запросите смену пароля еще раз</a></p>

{% endif %}

{% endblock %}
