{% extends "base.html" %}
{% load django_bootstrap5 %}
{% comment %} {% load socialaccount %} {% endcomment %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
  <h1 class="my-4">Войти в аккаунт</h1>

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
    </form>
 
    {% comment %} <a href="{% provider_login_url 'yandex' %}" class="btn btn-secondary">
      <i class="fa fa-yandex fa-fw"></i>
      <span> Зайти через Яндекс ID </span>
    </a> {% endcomment %}
</div>
{% endblock %}