{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
{% for lesson in lessons %}
  <a class="col" href="{% url 'lesson' lesson.id %}">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{ lesson.pictures.url }}');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ lesson.name }}</h3>
      </div>
    </div>
  </a>
  {% endfor %}

  {% endblock %}