{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% if perms.lessons.view_lesson %}
{% block content %}

<article class="blog-post">
  <h2>{{ lesson.name }}</h2>
  <div class="ratio ratio-16x9">
    <iframe width="auto" height='auto'
      src="{{ lesson.video_link }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
  <div class="container">
    <p>{{ lesson.description }}</p>
  </div>
  <h4>Дополнительные материалы по теме: </h4>
  <div class="container">
    <div class="row align-items-start">
      {% for lesson_picture in lesson.p_related_lessons.all %}
      <div class="col">
        <a href="{{ lesson_picture.pictures.url }}"><img width="150" height="200" src="{{ lesson_picture.pictures.url }}" alt=""></a>
      </div>
      {% endfor %}
    </div>
    <br>
    {% for lesson_video in lesson.v_related_lessons.all %}
    <a href="{{ lesson_video.video_link }}">{{ lesson_video.name }}</a>
    <br>
    {% endfor %}
  </div>
</div>

{% endblock %}
{% endif %}