{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% comment %} {% if user.is_authenticated %} {% endcomment %}
{% if perms.feedback.add_feedbackpost %}
<div class="d-grid gap-2">
  <a class="btn btn-outline-secondary btn-lg" href="{% url 'create_feedback_post' %}" role="button">Оставить отзыв</a>
</div>

{% endif %}

{% if feedback_posts %}
{% for feedback_post in feedback_posts %}
<hr class="border border-secondary border-2 opacity-50">
<article class="blog-post">
    <p class="h5">Автор отзыва: {{ feedback_post.name }}</p>
    <p>{{ feedback_post.description }}</p>
    {% if user.is_authenticated and user == feedback_post.author %}
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'update_feedback_post' feedback_post.id %}" role="button">Обновить</a>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'delete_feedback_post' feedback_post.id %}" role="button">Удалить</a>
    {% endif %}
{% endfor %}
{% endif %}

{% endblock %}