{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    {{ title }} | {{ 'Отзывы' }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-lg-6 col-xxl-4 my-5 mx-auto">
  <div class="d-grid gap-2">
    <button class="btn btn-outline-secondary" type="button"><a href="{% url 'create_feedback_post' %}">Оставить отзыв</a></button>
  </div>
</div>

{% endif %}

{% if feedback_posts %}
{% for feedback_post in feedback_posts %}
<article class="blog-post">
    <p class="blog-post-meta">Автор отзыва: {{ feedback_post.name }}</a></p>
    <p>{{ feedback_post.description }}</p>
    {% if user.is_authenticated and user == feedback_post.author %}
    <a href="{% url 'update_feedback_post' feedback_post.id %}">{{ 'Обновить' }}</a>
      <br>
    <a href="{% url 'delete_feedback_post' feedback_post.id %}">{{ 'Удалить' }}</a>
    <hr>
    {% endif %}
{% endfor %}
{% endif %}

{% endblock %}